.sidedevices .iphones .mask {
	height: 100%;
	width: 100%;
	overflow: hidden;
	border-radius: 8px;
	box-shadow: -1px 1px 4px rgba(107,124,147,.45);
	background: white;
}
.sidedevices .iphones .mask-img {
	width: 100%;
	display: block;
}
.sidedevices .iphones .iphone {
	border-radius: 40px;
	background: linear-gradient(to bottom, rgba(247,251,254,1) 0%,rgba(221,226,232,1) 100%);
	box-shadow: inset 0 4px 7px 1px #fff,inset 0 -5px 20px rgba(187,200,225,.35),0 2px 6px rgba(40,39,66,.14),0 10px 20px rgba(40,39,66,.06),  0px 0px 104px 0px rgba(0,0,0,0.3);
	overflow: hidden;
	width: 280px;
	height: 560px;
	z-index: 2;
	padding: 60px 12px 70px;
	margin-left: auto;
	position: relative;
}
.sidedevices .iphones .iphone__2 {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 0;
	box-shadow: inset 0 4px 7px 1px #fff,inset 0 -5px 20px rgba(187,200,225,.35),0 2px 6px rgba(40,39,66,.14),0 10px 20px rgba(40,39,66,.06);
	transform: scale(.9) translate3d(-5%,0,0);
}
.sidedevices .iphones .iphone:after {
	content: "";
	width: 44px;
	height: 44px;
	border-radius: 50%;
	background: rgba(0,0,0,.05);
	position: absolute;
	bottom: 14px;
	left: calc(50% - 22px);
}
.sidedevices .iphones .iphone:before {
	content: "";
	width: 58px;
	height: 10px;
	border-radius: 10px;
	background: rgba(0,0,0,.08);
	position: absolute;
	top: 28px;
	left: calc(50% - 29px);
}
@media screen and (max-width: 900px) {
	.sidedevices .iphones {
		-webkit-overflow-scrolling: touch;
		white-space: nowrap;
		vertical-align: top;
		overflow: scroll;
		width: calc(100% + 40px);
		margin: 0 0 0 -20px;
	}
	.sidedevices .iphones .iphone {
		transform: none;
		border: none;
		position: relative;
		margin: 0 20px;
		display: inline-block;
		height: 440px;
		width: 220px;
		padding: 50px 8px 60px;
		margin: 0 0 0 20px;
		border-radius: 30px;
		box-shadow: inset 0 4px 7px 1px #fff,inset 0 -5px 20px rgba(187,200,225,.35),0 2px 6px rgba(40,39,66,.14),0 10px 20px rgba(40,39,66,.06);
	}
	.sidedevices .iphones .iphone__2 {
		margin: 0 20px 0 20px;
	}
	.sidedevices .iphones .iphone .mask {
		border-radius: 4px;
	}
	.sidedevices .iphones .iphone:before {
		top: 24px;
		width: 50px;
		height: 7px;
		left: calc(50% - 25px);
	}
	.sidedevices .iphones .iphone:after {
		width: 38px;
		height: 38px;
		left: calc(50% - 19px);
		bottom: 12px;
	}
}.centerdevices .iphones .mask {
	height: 100%;
	width: 100%;
	overflow: hidden;
	border-radius: 8px;
	box-shadow: -1px 1px 4px rgba(107,124,147,.45);
	background: white;
}
.centerdevices .iphones .mask-img {
	width: 100%;
	display: block;
}
.centerdevices .iphones .iphone {
	border-radius: 40px;
	background: linear-gradient(to bottom, rgba(247,251,254,1) 0%,rgba(221,226,232,1) 100%);
	box-shadow: inset 0 4px 7px 1px #fff,inset 0 -5px 20px rgba(187,200,225,.35),0 2px 6px rgba(40,39,66,.14),0 10px 20px rgba(40,39,66,.06),  0px 0px 104px 0px rgba(0,0,0,0.3);
	overflow: hidden;
	width: 280px;
	height: 560px;
	z-index: 2;
	padding: 60px 12px 70px;
	margin: auto;
	position: relative;
	border-width: 5px 1px 2px 6px;
  border-style: solid;
  border-color: #e7ecf1;
	transform: matrix3d(0.94, 0.25, 0, 0.0001, -0.28, .97, 0, 0, 0, 0, 1, 0, 135, -13, 0, 1)
}
.centerdevices .iphones .iphone__2 {
	position: absolute;
	left: calc(50% - 340px);
	top: 0;
	z-index: 0;
	border-width: 2px 2px 4px 6px;
	border-style: solid;
  border-color: #e7ecf1;
	box-shadow: inset 0 4px 7px 1px #fff,inset 0 -5px 20px rgba(187,200,225,.35),0 2px 6px rgba(40,39,66,.14),0 10px 20px rgba(40,39,66,.06),  0px 0px 104px 0px rgba(0,0,0,0.3);
	transform: matrix3d(0.94, -0.25, 0, 0.0001, 0.28, .97, 0, 0, 0, 0, 1, 0, 60, -13, 0, 1.1)
}
.centerdevices .iphones .iphone:after {
	content: "";
	width: 44px;
	height: 44px;
	border-radius: 50%;
	background: rgba(0,0,0,.05);
	position: absolute;
	bottom: 14px;
	left: calc(50% - 22px);
}
.centerdevices .iphones .iphone:before {
	content: "";
	width: 58px;
	height: 10px;
	border-radius: 10px;
	background: rgba(0,0,0,.08);
	position: absolute;
	top: 28px;
	left: calc(50% - 29px);
}
@media screen and (max-width: 600px) {
	.centerdevices .iphones {
		-webkit-overflow-scrolling: touch;
		white-space: nowrap;
		vertical-align: top;
		overflow: scroll;
		width: calc(100% + 40px);
		margin: 0 0 0 -20px;
	}
	.centerdevices .iphones .iphone {
		transform: none;
		border: none;
		position: relative;
		margin: 0 20px;
		display: inline-block;
		height: 440px;
		width: 220px;
		padding: 50px 8px 60px;
		margin: 0 0 0 20px;
		border-radius: 30px;
		box-shadow: inset 0 4px 7px 1px #fff,inset 0 -5px 20px rgba(187,200,225,.35),0 2px 6px rgba(40,39,66,.14),0 10px 20px rgba(40,39,66,.06);
	}
	.centerdevices .iphones .iphone__2 {
		margin: 0 20px 0 20px;
		left: inherit;
	}
	.centerdevices .iphones .iphone .mask {
		border-radius: 4px;
	}
	.centerdevices .iphones .iphone:before {
		top: 24px;
		width: 50px;
		height: 7px;
		left: calc(50% - 25px);
	}
	.centerdevices .iphones .iphone:after {
		width: 38px;
		height: 38px;
		left: calc(50% - 19px);
		bottom: 12px;
	}
}.centerdevices .iphoneipad2 .mask {
	height: 100%;
	width: 100%;
	overflow: hidden;
	border-radius: 8px;
	box-shadow: -1px 1px 4px rgba(107,124,147,.45);
	background: white;
}
.centerdevices .iphoneipad2 .mask-img {
	width: 100%;
	display: block;
}
.centerdevices .iphoneipad2 .iphone,
.centerdevices .iphoneipad2 .ipad {
	border-radius: 40px;
	position: relative;
	background: linear-gradient(to bottom, rgba(247,251,254,1) 0%,rgba(221,226,232,1) 100%);
	box-shadow: inset 0 4px 7px 1px #fff,inset 0 -5px 20px rgba(187,200,225,.35),0 2px 6px rgba(40,39,66,.14),0 10px 20px rgba(40,39,66,.06), 0px 36px 79px -1px rgba(0,0,0,0.15);
	overflow: hidden;
}
.centerdevices .iphoneipad2 .iphone {
	border-radius: 30px;
  width: 280px;
  height: 560px;
  z-index: 2;
  padding: 60px 12px 70px;
	position: absolute;
	top: 0;
	left: 0;
	transform: rotate(-5deg);
}
.centerdevices .iphoneipad2 .iphone .mask {
	border-radius: 4px;
}
.centerdevices .iphoneipad2 .ipad {
	width: 830px;
	height: 560px;
	padding: 15px 85px;
	margin-left: auto;
	transform: rotate(5deg);
}

.centerdevices .iphoneipad2 .ipad:after,
.centerdevices .iphoneipad2 .iphone:after,
.centerdevices .iphoneipad2 .ipad:before {
	content: "";
	width: 44px;
	height: 44px;
	border-radius: 50%;
	background: rgba(0,0,0,.05);
	position: absolute;
	top: calc(50% - 22px);
	right: 23px;
}
.centerdevices .iphoneipad2 .ipad:after {
	left: 34px;
	width: 16px;
	height: 16px;
	top: calc(50% - 8px);
}
.centerdevices .iphoneipad2 .iphone:after {
  top: initial;
  bottom: 14px;
  left: calc(50% - 22px);
}
.centerdevices .iphoneipad2 .iphone:before {
  content: "";
  width: 58px;
  height: 10px;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.08);
  position: absolute;
  top: 28px;
  left: calc(50% - 29px);
}
@media screen and (max-width: 900px) {
	.centerdevices .iphoneipad2 {
		position: relative;
		white-space: nowrap;
		vertical-align: top;
		overflow: scroll;
		width: calc(100% + 40px);
		margin: 0 0 0 -20px;
		z-index: 99;
		-webkit-overflow-scrolling: touch;
	}
	.centerdevices .iphoneipad2 .iphone,
	.centerdevices .iphoneipad2 .ipad {
		transform: none;
		border: none;
		position: relative;
		box-shadow: inset 0 4px 7px 1px #fff,inset 0 -5px 20px rgba(187,200,225,.35),0 2px 6px rgba(40,39,66,.14),0 10px 20px rgba(40,39,66,.06);
		background: linear-gradient(to bottom, rgba(247,251,254,1) 0%,rgba(221,226,232,1) 100%);
		margin: 0 20px;
		display: inline-block;
	}
	.centerdevices .iphoneipad2 .iphone {
		height: 440px;
		width: 220px;
		padding: 50px 8px 60px;
		margin: 0 0 0 20px;
		border-radius: 30px;
	}
	.centerdevices .iphoneipad2 .iphone .mask {
		border-radius: 4px;
	}
	.centerdevices .iphoneipad2 .iphone:before {
		top: 24px;
		width: 50px;
		height: 7px;
		left: calc(50% - 25px);
	}
	.centerdevices .iphoneipad2 .iphone:after {
		width: 38px;
		height: 38px;
		left: calc(50% - 19px);
		bottom: 12px;
	}
	.centerdevices .iphoneipad2 .ipad {
		width: 740px;
		height: 440px;
	}
	.centerdevices .iphoneipad2 .ipad:before {
		left: 23px;
		right: inherit;
	}
	.centerdevices .iphoneipad2 .ipad:after {
		right: 36px;
    left: inherit;
	}
}.centerdevices .iphoneipad2 .mask {
	height: 100%;
	width: 100%;
	overflow: hidden;
	border-radius: 8px;
	box-shadow: -1px 1px 4px rgba(107,124,147,.45);
	background: white;
}
.centerdevices .iphoneipad2 .mask-img {
	width: 100%;
	display: block;
}
.centerdevices .iphoneipad2 .iphone,
.centerdevices .iphoneipad2 .ipad {
	border-radius: 40px;
	position: relative;
	background: linear-gradient(to bottom, rgba(247,251,254,1) 0%,rgba(221,226,232,1) 100%);
	box-shadow: inset 0 4px 7px 1px #fff,inset 0 -5px 20px rgba(187,200,225,.35),0 2px 6px rgba(40,39,66,.14),0 10px 20px rgba(40,39,66,.06), 0px 36px 79px -1px rgba(0,0,0,0.15);
	overflow: hidden;
}
.centerdevices .iphoneipad2 .iphone {
	border-radius: 30px;
  width: 280px;
  height: 560px;
  z-index: 2;
  padding: 60px 12px 70px;
	position: absolute;
	top: 0;
	left: 0;
	transform: rotate(-5deg);
}
.centerdevices .iphoneipad2 .iphone .mask {
	border-radius: 4px;
}
.centerdevices .iphoneipad2 .ipad {
	width: 830px;
	height: 560px;
	padding: 15px 85px;
	margin-left: auto;
	transform: rotate(5deg);
}

.centerdevices .iphoneipad2 .ipad:after,
.centerdevices .iphoneipad2 .iphone:after,
.centerdevices .iphoneipad2 .ipad:before {
	content: "";
	width: 44px;
	height: 44px;
	border-radius: 50%;
	background: rgba(0,0,0,.05);
	position: absolute;
	top: calc(50% - 22px);
	right: 23px;
}
.centerdevices .iphoneipad2 .ipad:after {
	left: 34px;
	width: 16px;
	height: 16px;
	top: calc(50% - 8px);
}
.centerdevices .iphoneipad2 .iphone:after {
  top: initial;
  bottom: 14px;
  left: calc(50% - 22px);
}
.centerdevices .iphoneipad2 .iphone:before {
  content: "";
  width: 58px;
  height: 10px;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.08);
  position: absolute;
  top: 28px;
  left: calc(50% - 29px);
}
@media screen and (max-width: 900px) {
	.centerdevices .iphoneipad2 {
		position: relative;
		white-space: nowrap;
		vertical-align: top;
		overflow: scroll;
		width: calc(100% + 40px);
		margin: 0 0 0 -20px;
		z-index: 99;
		-webkit-overflow-scrolling: touch;
	}
	.centerdevices .iphoneipad2 .iphone,
	.centerdevices .iphoneipad2 .ipad {
		transform: none;
		border: none;
		position: relative;
		box-shadow: inset 0 4px 7px 1px #fff,inset 0 -5px 20px rgba(187,200,225,.35),0 2px 6px rgba(40,39,66,.14),0 10px 20px rgba(40,39,66,.06);
		background: linear-gradient(to bottom, rgba(247,251,254,1) 0%,rgba(221,226,232,1) 100%);
		margin: 0 20px;
		display: inline-block;
	}
	.centerdevices .iphoneipad2 .iphone {
		height: 440px;
		width: 220px;
		padding: 50px 8px 60px;
		margin: 0 0 0 20px;
		border-radius: 30px;
	}
	.centerdevices .iphoneipad2 .iphone .mask {
		border-radius: 4px;
	}
	.centerdevices .iphoneipad2 .iphone:before {
		top: 24px;
		width: 50px;
		height: 7px;
		left: calc(50% - 25px);
	}
	.centerdevices .iphoneipad2 .iphone:after {
		width: 38px;
		height: 38px;
		left: calc(50% - 19px);
		bottom: 12px;
	}
	.centerdevices .iphoneipad2 .ipad {
		width: 740px;
		height: 440px;
	}
	.centerdevices .iphoneipad2 .ipad:before {
		left: 23px;
		right: inherit;
	}
	.centerdevices .iphoneipad2 .ipad:after {
		right: 36px;
    left: inherit;
	}
}